body {
	background: url(https://image.freepik.com/vector-gratis/fondo-selva-detallada_52683-62631.jpg)
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.main-container {
	display: flex;
	flex-direction: column;
}

h1 {
	text-align: center;
	font-size: 50px;
}

#canvas {
	display: block;
	margin: 5px auto;
	border: 10px solid #657;
}

.game-legend {
	display: flex;
	margin: auto;
}

h3 {
	text-align: center;
	font-size: 30px;
}

#button {
	width: 75px;
	height: 37.5px;
	margin: auto;
	margin-right: 10px;
	background-color: #008000b8;
	border-radius: 50px;
}

.buttons-container {
	padding-top: 20px;
	margin: 0 auto;
}

.movements-buttons {
	width: 50px;
	height: 50px;
	margin-left: 7px;
	color: black;
}

#left {
	background-image: url('https://www.pinclipart.com/picdir/middle/184-1840670_back-left-arrow-square-button-outline-comments-down.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

#down {
	background-image: url('https://www.pinclipart.com/picdir/middle/403-4034784_png-file-svg-down-arrow-key-png-clipart.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

#up {
	background-image: url('https://www.nicepng.com/png/full/128-1287679_arrow-top-up-key-comments-server.png');
	background-size: 100%;

	background-repeat: no-repeat;
}

#right {
	background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxbBQXfq7R5FlFHuri5C1OVFUhy8CfIiO5honxTeo275fXDkTwRypBde60e6gquII3xZc&usqp=CAU.png');
	background-size: cover;
	background-repeat: no-repeat;
}
